- changes.each do |change|
  %li
    %span.lesson== #{change.lesson}. Stunde
    - unless defined? skip_old
      %span.info== (#{change.old_subject} bei #{change.old_teacher})
    - if change.type == "Entfall"
      %strong.change entfällt
    - elsif change.type == "Raum-Vtr."
      in
      %strong.change= change.new_room
      statt in
      %s= change.old_room
    - elsif change.type == "Vertretung"
      vertreten durch
      = change.new_teacher
      
    - elsif change.type == "Verlegung"
      wird zu
      %strong.change
        == #{change.new_subject} bei #{change.new_teacher} 
        - if change.new_room != change.old_room
          == in #{change.new_room}
      - if change.text.empty? && !change.moved_from.empty?
        == (verlegt von #{change.moved_from})
    - elsif change.type == "Tausch"
      getauscht mit
      %strong.change
        == #{change.new_subject} bei #{change.new_teacher} 
        - if change.new_room != change.old_room
          == in #{change.new_room}
    - else
      Änderung nicht erkannt!
      =h change.inspect
      
    - unless change.text.empty?
      %span.text== (#{change.text})