%html
  %head
    %title Vertretungsplan
    %link{:rel => 'stylesheet', 'href' => 'stylesheets/screen.css', 'media' => 'screen'}
    %link{:rel => 'stylesheet', 'href' => 'tipsy.css', 'media' => 'screen'}
    %link{ :rel => 'alternate', :title => "RSS#{params[:filter] ? " gefiltert nach #{params[:filter]}" : ""}", :href => "/changes.rss#{params[:filter] ? "?filter=#{params[:filter]}" : ""}", :type => 'application/rss+xml' }
    
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" }
    %script{ :src => "/jquery.tipsy.js" }
    %script{ :src => "/jquery.cookie.js" }
  %body
    #container
      #meta
        == Letztes Update: #{@last_updated.strftime("%d.%m.%Y %H:%M")}
        %br/
        - if params[:filter]
          %strong== gefiltert nach #{params[:filter]}
          —
        %a{ :id => 'help', :href => '/help', :title => "Ja, hier könnten wichtige Sachen stehen!" } Hilfe / Filtereinstellungen
          
      = yield
      %p
        %em Prototyp von Jonas Schneider, 2011