%html
  %head
    %title Vertretungsplan
    %link{:rel => 'stylesheet', 'href' => 'stylesheets/screen.css', 'media' => 'screen'}
    %link{:rel => 'stylesheet', 'href' => '/tipsy.css', 'media' => 'screen'}
    %link{:rel => 'stylesheet', 'href' => '/buttons.css', 'media' => 'screen'}
    %link{:rel => 'stylesheet', 'href' => 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700', 'media' => 'screen'}
    
    %link{ :rel => 'alternate', :title => "RSS#{params[:filter] ? " gefiltert nach #{params[:filter]}" : ""}", :href => "/changes.rss#{params[:filter] ? "?filter=#{params[:filter]}" : ""}", :type => 'application/rss+xml' }
    
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" }
    %script{ :src => "/jquery.tipsy.js" }
    %script{ :src => "/jquery.cookie.js" }
    %script{ :src => "/jquery.timeago.js" }
    %script{ :src => "/jquery.timeago.de.js" }
  %body
    #container
      #meta
        - unless @is_up
          %span.down Server offline
        
        Letztes Update:
        = @last_updated.strftime("%d.%m.%Y %H:%M")
        —
        %abbr.timeago{ :title => @last_updated } &nbsp;
        %br/
        - if params[:filter]
          %strong== gefiltert nach #{params[:filter]}
          —
        %a.cupid-green{ :id => 'help', :href => '/help', :title => "Ja, hier könnten wichtige Sachen stehen!" } Hilfe & Filtereinstellungen
          
      = yield
      %p
        %em Prototyp von Jonas Schneider, 2011
  
    :javascript
      var clicky_site_ids = clicky_site_ids || [];
      clicky_site_ids.push(66392323);
      (function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//static.getclicky.com/js';
      ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
      })();